.emailList {
    flex: 1;
    overflow: scroll;
}

.emailListSetting {
    display: flex;
    justify-content: space-between;
    position: sticky;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    top: 0;
    padding-right: 10px;
    z-index: 999;
}

.emailListSections {
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}